:root {
    --color-orange: #c2842d;
    --color-lighter-brown: #d6bfa7;
    --color-light-brown: #9e8259;
    --color-brown: #211607;
    --color-black: #0d0d0c;
    --color-white: #f2ece1;
    --color-whiter-white: #fcfaf2;
    --color-green: #07731c;
    --color-red: #9c1006;

    --font-logo: 'Pacifico', sans-serif;
    --font-hero: 'Comfortaa', sans-serif;
    --font-copy: 'Roboto', sans-serif;    
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'), url('./Pacifico/Pacifico-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa'), url('./Comfortaa/Comfortaa-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'), url('./Roboto/Roboto-Regular.ttf') format('opentype');
}

.dark {
    background-color: var(--color-whiter-white);
    justify-content: center;
    align-content: center;
    font-family: var(--font-copy);
    margin: 20px 50px 20px 50px;
}

.dark > .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-right: 90px;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
}

.navbar > :nth-child(2) {
    transform: translate(20px, 0px);
}

.title {
    font-family: var(--font-logo);
}

.navbar > ul > li {
    list-style: none;
    margin: 20px;
    font-family: var(--font-hero);
    font-weight: 600;
}

.navbar > ul > li > a {
    text-decoration: none;
    color:var(--color-brown);
}

.container {
    margin: 20px 20px;}

#headings {
    font-family: var(--font-hero);
}

h1 {
    font-family: var(--font-hero);
    margin-top: 35px;
}

#buttons > button {
    height: 30px;
    width: 90px;
    border-radius: 7px;
    border: none;
    background-color:var(--color-lighter-brown);
    color: var(--color-brown);
    font-size: 0.9em;
    font-family: var(--font-hero);
    text-align: justify;
}

button > :nth-child(1) {
    height: 9px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color-black);
    transform: translate(58px, -13px) rotate(357deg);
}

button > :nth-child(2) {
    height: 9px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color-black);
    transform: translate(53px, -17px) rotate(345deg);
}

button > :nth-child(3) {
    height: 9px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color-black);
    transform: translate(64px, -31px) rotate(3deg);
}

button > :nth-child(4) {
    height: 9px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color-black);
    transform: translate(68px, -34px) rotate(15deg);
}

button > :nth-child(5) {
    height: 10px;
    width: 11px;
    border-radius: 50%;
    background-color: var(--color-black);
    transform: translate(58.5px, -39px);
}

#buttons > :nth-child(7) {
    background-color: var(--color-red);
    color: var(--color-white);
}

#buttons > :nth-child(8) {
    background-color: var(--color-green);
    color: var(--color-white);
}

#buttons > :nth-child(7) > div {
    background-color: var(--color-white);
}

#buttons > :nth-child(8) > div {
    background-color: var(--color-white);
}

#links > p > a {
    color: var(--color-orange);
}

#forms > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forms > form > label {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#forms > form > label > span {
    font-family: var(--font-hero);
    margin: 5px;
}

#forms > form > label > input {
    height: 30px;
    width: 400px;
    border: solid var(--color-brown) 1px;
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 5px;
    color: var(--color-light-brown);
}

#forms > form > label > textarea {
    height: 100px;
    width: 400px;
    border: solid var(--color-brown) 1px;
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 5px;
    color: var(--color-light-brown);
    font-family: var(--font-copy);
}

#forms > form > .switch {
    display: flex;
    flex-direction: row;
}

#forms > form > .control-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

#forms > form > .control-checkbox > input {
    width: 13px;
}

#colors > .color-grid > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#colors > .color-grid > div > div {
    height: 10px;
    width: 10px;
    border: solid var(--color-black) 0.5px;
    margin: 7px;
}

#colors > .color-grid > :nth-child(5) > div {
    background-color: var(--color-orange);
}

#colors > .color-grid > :nth-child(3) > div {
    background-color: var(--color-lighter-brown);
}

#colors > .color-grid > :nth-child(4) > div {
    background-color: var(--color-light-brown);
}

#colors > .color-grid > :nth-child(6) > div {
    background-color: var(--color-brown);
}

#colors > .color-grid > :nth-child(7) > div {
    background-color: var(--color-black);
}

#colors > .color-grid > :nth-child(2) > div {
    background-color: var(--color-white);
}

#colors > .color-grid > :nth-child(1) > div {
    background-color: var(--color-whiter-white);
}

#colors > .color-grid > :nth-child(8) > div {
    background-color: var(--color-green);
}

#colors > .color-grid > :nth-child(9) > div {
    background-color: var(--color-red);
}

#footers > .page-footer > :first-child > :first-child {
    list-style: none;
}

#footers > .page-footer > :nth-child(2) {
    list-style: none;
}

#footers > .page-footer > :nth-child(3) {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#footers > .page-footer > :nth-child(3) > li {
    margin-right: 15px;
}




